@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, p {
    font-family: Inter, sans-serif;
    @apply text-light-black text-base
  }

  h1 {
    @apply text-6xl;
  }

  h2 {
    @apply text-5xl tracking-tighter
  }

  h3 {
    font-size: 28px;
  }

  h4 {
    font-size: 16px;
  }

  h1,h2,h3,h4,h5,h6 {
    font-family: Montserrat, sans-serif;
    @apply font-medium
  }
}

@layer components {
  .btn {
    @apply py-3 px-6 rounded-full transition hover:transition
  }
  .btn-main {
    @apply  bg-green text-light-gray hover:bg-darkgreen 
  }

  .btn-main-white {
    @apply  bg-light-gray text-green  hover:bg-dark-gray 
  }
  .btn-alt-green {
    @apply text-green border border-green hover:bg-green hover:text-white [&:hover>svg]:fill-white  
  }
  .btn-alt-white {
    @apply text-light-gray border border-light-gray hover:bg-white hover:text-green [&:hover>svg]:fill-green  
  }
  .btn-alt-black {
    @apply text-light-black border border-light-black hover:bg-light-black hover:text-white [&:hover>svg]:fill-white  
  }
  .btn-line {
    @apply text-green underline p-0 flex 
  }
  .btn-square {
    @apply w-1/2 grid place-items-center hover:bg-white duration-500 transition-colors
  }
  .link {
    @apply w-fit relative cursor-pointer 
  }

  .dropdown {
    @apply z-10 bg-white rounded-lg shadow w-44
  }

  .dropdown-item {
    @apply block text-light-black rounded-md hover:bg-gray-100 px-4 py-2 text-sm transition-colors
  }

  .card {
    @apply bg-white rounded-3xl py-12 px-10 gap-12 col-span-4 flex flex-col 
    justify-between content-start 
  }
  .card-info {
    @apply [&>div>h3]:tracking-tighter [&>div>h3]:pb-3 [&>img]:pb-8 
  }


  .divider {
    @apply w-full h-[1px] bg-light-gray my-16
  }

  .gradient {
    @apply w-full bg-gradient-to-t from-beige transition-all duration-700
  }

}

@layer utilities {
  .wrapper {
    @apply max-w-[1280px] m-auto
  }

  .italic-h {
    @apply italic font-text font-medium tracking-normal
  }

  .label-h {
    @apply inline-block text-xs pb-4 
  }

  .grid-item {
    @apply cursor-pointer hover:scale-105 hover:transition-transform  duration-500 hover:duration-500
  }
  .grid-image-container {
    @apply  mb-8 overflow-hidden
  }

  .under {
    @apply  pb-1 before:content-[''] before:absolute before:w-full 
    before:scale-x-100  before:h-[1px] before:bottom-0 before:left-0 before:origin-bottom-left
    before:transition hover:before:scale-x-0 hover:before:origin-bottom-right 
    hover:before:transition hover:before:duration-300 before:duration-300
  }
  .under-alt {
    @apply  pb-1 before:content-[''] before:absolute before:w-full 
    before:scale-x-0  before:h-[1px] before:bottom-0 before:left-0 before:origin-bottom-right
    before:transition hover:before:scale-x-100 hover:before:origin-bottom-left 
    hover:before:transition hover:before:duration-300 before:duration-300
  }
  
} 
